body {
    background-color: #DFF6FF;
}

hr {
    border-style: none;
    border-top: 5px dotted grey;
    width: 5%;
    opacity: 0.5;
}

h1{
    color: #66BFBF;
}

h3{
    color: #66BFBF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}